# Node & dependencies
node_modules/
.pnp/
.pnp.js

# Next.js
.next/
out/
dist/
*.tsbuildinfo

# Build/Cache
.cache/
.swp
.swc/
.turbo/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
*.log

# Env (สำคัญ ห้ามขึ้น Git)
.env
.env.local
.env.*.local
# แต่เก็บตัวอย่างไว้ได้
!.env.example

# Vercel / Tools
.vercel/

# OS & Editors
.DS_Store
Thumbs.db
.idea/
.vscode/

# Skip the developing file
app/(auth)/test